@page "/"

@inherits BlazorFourInARow.Pages.Game.GameBase

<div class="game-info">
    @if (NextGameStartOn > DateTime.Now)
    {
        <CountDown CountDownTo="@NextGameStartOn" CountdownCompleted="@StartNextGame"></CountDown>
    }
    else
    {
        <CountDown CountDownTo="@NextActionAvailableOn" CountdownCompleted="@ResetActionLock"></CountDown>
    }

    @if (null != Team)
    {
        <h1>@Team.DisplayColor Team</h1>
    }
</div>

@if (null != GameState?.GameResult)
{
    if (null == GameState.GameResult.WinningTeam)
    {
        <h1>Tie Game</h1>
    }
    else
    {
        <h1>@GameState?.GameResult.WinningTeam.TeamId Has Won the Game!</h1>
    }
}

<GameBoard GameState="@GameState" Team="@Team" ActionsLocked="@ActionsLocked" SetActionLock="@SetActionLock" />