@page "/"

@inherits BlazorFourInARow.Pages.Game.GameBase

<CountDown CountDownTo="@NextActionAvailable" CountdownCompleted="@ResetActionLock"></CountDown>

<GameBoard GameState="@GameState" Team="@Team" ActionsLocked="@ActionsLocked" SetActionLock="@SetActionLock"/>

@if (null != Team)
{
    <h1>@Team.DisplayColor Team</h1>
}

@if (null != GameState?.GameResult)
{
    if (null == GameState.GameResult.WinningTeam)
     {
         <h1>Tie Game</h1>
     }
     else
     {
        <h1>@GameState?.GameResult.WinningTeam.TeamId Has Won the Game!</h1>
     }
}

<p>@GameState?.DebugMessage</p>