@page "/"

@inherits BlazorFourInARow.Pages.Game.GameBase

<h3 class="game-info text-center my-2"><span class="@Team?.DisplayColor">@Team?.DisplayColor</span> Team</h3>


<GameBoard GameState="@GameState" Team="@Team" ActionsLocked="@ActionsLocked" SetActionLock="@SetActionLock" />

@if (null != GameState?.GameResult)
{
    if (null == GameState.GameResult.WinningTeam)
    {
        <div class="alert alert-warning my-1" role="alert">
            <h1 class="alert-heading">Tie Game</h1>
        </div>
    }
    else
    {
        string winningTeamColor = GameState?.GameResult.WinningTeam.DisplayColor;

        string alertColorClass = "alert-danger";

        if (winningTeamColor == Team.DisplayColor)
        {
            alertColorClass = "alert-success";
        }

        <div class="alert @alertColorClass my-1" role="alert">
            <h1 class="alert-heading"><span class="@winningTeamColor">@winningTeamColor</span>Team has Won the Game!</h1>
        </div>
    }
}

@if (NextGameStartOn > DateTime.Now)
{
    <CountDown CountDownTo="@NextGameStartOn" CountdownCompleted="@StartNextGame" PostLabel="second(s) until the game begins!"></CountDown>
}
else
{
    <CountDown CountDownTo="@NextActionAvailableOn" CountdownCompleted="@ResetActionLock" PostLabel="second(s) until your next move."></CountDown>
}